name: Erlang CI

on:
  push:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy: 
      matrix:
        erlang: [ '21.2','22.2','23.1' ]

    steps:
    - uses: actions/checkout@v2
    - uses: erlef/setup-beam@v1
      with:
        otp-version: ${{ matrix.erlang}}
        rebar3-version: '3.14.2'

    - name: Check epmd
      run: pgrep epmd
    - name: Run epmd
      run: epmd -daemon
    - name: Compile
      run: make compile
    - name: Unit Tests
      run: make test
    - name: System Tests
      run: make systests
    - name: Coverage
      run: make coverage
    - name: Lint
      run: make lint
    - name: Dialyzer
      run: make dialyzer
    - name: Send Coverage
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: ./rebar3 as test coveralls send
